<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbar'); -%>


  <!-- Main Content -->
<h2 style = "height: 5em; margin-top: 5em; text-align: center; color: orange;">404 Page Not Found</h2>


<%- include('layouts/footer'); -%>
<%- include('layouts/scripts'); -%>

</body>

</html>
